.button{
    width: 150px;
    height: 50px;
    color:white;
    font-size: 20px;
    margin: 30px 10px;
    border-radius: 10px;
    border:none;
    cursor: pointer;
}

.button:hover{
    box-shadow: 4px 5px 4px gray;
}

.red{
    background-color: rgb(180, 12, 12);
}

.green{
    background-color: rgb(18, 163, 18);
}

.blue{
    background-color: #00c3ff;
}